// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: $light-gray !important;
}

.button {
  text-transform: uppercase;
  letter-spacing: 1px;

  .ico,
  .text {
    display: inline-block;
    vertical-align: middle;
  }

  .ico {
    margin-right: 5px;
  }

  .text {
    padding-top: 2px;
  }
}

.header {
  background: $light-gray;

  .header-container {
    background: transparent;
  }

  .header-text {
    color: $gray;
    font-size: 12px;
    text-align: center;
    background: $white;
    padding: 5px;
  }

  .header-logo {
    margin: 35px 0 35px 0;

    @media only screen and (max-width: #{$global-breakpoint}) {
      margin: 20px 0 20px 0;
    }
  }

  .header-category {
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    display: block;
    //padding: 16px;
    height: 54px;
    line-height: 54px;
    width: 350px;

    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 13px;
      padding: 12px;
    }

    &.dog {
      background: $dark-primary-color;
    }

    &.cat {
      background: $primary-color;
    }
  }
}

.blog-articles {
  background: #F8F4F2;

  h2 {
    a {
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .articles {
    h3 {
      font-size: 14px;
    }

    .mask {
      display: inline-block;
      //border-radius: 50%;

      img {
        //border-radius: 50%;
      }
    }

    .article-text {
      font-size: 13px;
      line-height: 26px;
    }

    .read-more {
      font-size: 14px;
      font-weight: 700;
    }
  }
}

.usp-list {
  .usp {
    h3 {
      font-size: 14px;
      margin: 0;
      margin-bottom: 0;
    }
  }

  .item {
    display: table;
    width: 100%;
    text-align: left;
  }

  .img,
  .text {
    display: table-cell;
    vertical-align: middle;
  }

  .img {
    width: 65px;
  }
}


.facebook-bar {
  background: #3B5998;

  .facebook-container {
    background: transparent;
  }

  .fb-link {
    color: $white;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    height: 59px;
    line-height: 59px;

    img,
    .text {
      display: inline-block;
      vertical-align: middle;
    }

    .text {
    }

    .underline {
      text-decoration: underline;
    }

    img {
      margin-right: 5px;
    }
  }

}

.footer {

  background: $light-gray;

  .footer-container {
    background: transparent;
  }

  h2 {
    color: $black;
  }

  .footer-text {
    font-size: 12px;
    color: $gray;
  }

  .footer-contact {
    .contact-item {
      display: table;
      width: 100%;
      font-size: 14px;

      .text,
      .img {
        display: table-cell;
        vertical-align: middle;
      }

      .img {
        width: 40px;
      }

      .text {
        color: $gray;
        font-size: 14px;

        a {
          color: $black;
          font-weight: 700;
          text-decoration: underline;
        }

        .cap,
        .val {
          display: block;
        }

        .val {
          font-weight: 700;
        }
      }
    }
  }
}

.banner {
  padding-left: 0!important;
  padding-right: 0!important;

  .banner-img {
    width: 700px;
  }
}

.products-list {

  .products {
    h3 {
      font-size: 14px;
      font-weight: 500;
    }

    .buy-button {
      a {
        text-transform: none;
        letter-spacing: 0;
        font-size: 13px;
        font-weight: 500;
        padding: 5px 15px;
      }
    }

    .product-price {
      font-weight: 700;
      font-size: 14px;
    }
  }
}