---
subject: Krmiva-pucalka basic text template
---

{{>header}}

<container>

  <spacer size="35"></spacer>
  
  <row>
    <columns small="12">
      
      <h1>Milá/Milý [Customer Name],</h1>
      
      <p>
        spolu s vytvořením nového eshopu <a href="https://www.krmiva-pucalka.cz">www.krmiva-pucalka.cz</a> jsme konečně mohli vytvořit i náš blog. Snažíme se dlouhodobě přinášet zajímavé informace především z oblasti výživy psů a koček a nyní máme konečně ten správný prostor. Na našem blogu se toho dočtete skutečně hodně. Díky tomu, že se výživě skutečně věnujeme, často si náz zvou na rozhovory různá média, včetně těch největšich jako je Česká Televize, Český rozhlas, Seznam atd. Na blogu si budete moci nově přečíst i výstupy z těchto rozhovorů. Už teď je na blogu spousta informací - další postupně přidáváme - máme velkou zásobu článků. Nejčastěji pro vás články píše Martin Pučálka, majitel společnosti, který se dlouhodobě věnuje výživě psů a koček, dále pak Ing.Jana Slováková, která vystudovala obor Výživa zvířat na ČZU a nově také naše externí spolupracovnice MVDr.Katka Karásková, která se zaměřuje na výživu psů a koček. A toto je také jádro týmu, který tvoří nové produkty.
      </p>
    </columns>
  </row>

  <spacer size="35"></spacer>

  {{>blog-articles}}

  {{>usp-list}}

</container>

{{>facebook-bar}}

{{>footer}}