---
subject: Krmiva-pucalka products template
---

{{>header}}

<container>

  <spacer size="35"></spacer>

  <row>
    <columns small="12">

      <h1>Martine,</h1>

      <p>
        spolu s vytvořením nového eshopu <a href="https://www.krmiva-pucalka.cz/">www.krmiva-pucalka.cz</a> jsme konečně mohli vytvořit i náš blog. Snažíme se dlouhodobě přinášet zajímavé informace především z oblasti výživy psů a koček a nyní máme konečně ten správný prostor. Na našem blogu se toho dočtete skutečně hodně.
      </p>
    </columns>
  </row>

  <spacer size="35"></spacer>

  <row>
    <columns class="banner" small="12">
      <center>
        <a href="#">
          <img class="banner-img" src="https://i00.eu/file/474/833-banner.png" alt="50% sleva" width="700" style="width: 100%;max-width: 700px;">
        </a>
      </center>
    </columns>
  </row>

  {{>products-list}}

  {{>blog-articles}}

  {{>usp-list}}

</container>

{{>facebook-bar}}

{{>footer}}