<wrapper class="blog-articles">

  <spacer size="35"></spacer>

  <row>
    <columns large="12">
      <h2 class="text-center">Poslední články na našem <a href="https://www.amarago.cz/Tema/">blogu</a></h2>
    </columns>
  </row>

  <spacer size="25"></spacer>

  <row class="articles">
    <columns class="article" large="4">
      <center>
				<img src="https://i00.eu/img/474/370x200f/600l02ri/20583.webp" alt="Krmiva určená pro specifické plemeno" width="193" style="width:100%;max-width:193px;">
      </center>
      <spacer size="15"></spacer>
      <h3 class="text-center">Krmiva určená pro specifické plemeno</h3>
      <p class="article-text text-center">Řada lidí si láme hlavu nad tím, v čem přesně jsou krmiva určená pro specifické plemeno jiná.</p>
      <center>
        <a class="read-more" href="https://www.amarago.cz/Tema/Vyziva/Krmiva-urcena-pro-specificke-plemeno" class="text-center">Celý článek</a>
      </center>
    </columns>
    <columns class="article" large="4">
      <center>
				<img src="https://i00.eu/img/474/370x200f/600l02ri/20583.webp" alt="Nové masové vaničky Marp Holistic" width="193" style="width:100%;max-width:193px;">
      </center>
      <spacer size="15"></spacer>
      <h3 class="text-center">Nové masové vaničky Marp Holistic</h3>
      <p class="article-text text-center">Značku Marp Holistic jsme rozšířili o skvělé masové vaničky s několika příchutěmi.</p>
      <center>
        <a class="read-more" href="https://www.amarago.cz/Tema/Aktuality/Nove-masove-vanicky-Marp-Holistic" class="text-center">Celý článek</a>
      </center>
    </columns>
    <columns class="article" large="4">
      <center>
				<img src="https://i00.eu/img/474/370x200f/600l02ri/20583.webp" alt="Seznam zprávy" width="193" style="width:100%;max-width:193px;">
      </center>
      <spacer size="15"></spacer>
      <h3 class="text-center">Seznam zprávy</h3>
      <p class="article-text text-center">Ráno na gauči s Martinem Pučálkou na téma: Chyba, pokud nečtete složení krmiva pro psa nebo kočku.</p>
      <spacer size="20"></spacer>
      <center>
        <a class="read-more" href="https://www.amarago.cz/Tema/Napsali-o-nas/Seznam-zpravy" class="text-center">Celý článek</a>
      </center>
    </columns>
  </row>
  
  <spacer size="35"></spacer>

  <center>
    <button href="https://www.krmiva-pucalka.cz/clanky/" class="primary">Starší články</button>
  </center>

  <spacer size="35"></spacer>

</wrapper>