<wrapper class="facebook-bar">
  <container class="facebook-container">
    <row class="collapse">
      <columns small="12">
        <a class="fb-link" href="https://www.facebook.com/Pucalkasro/" class="text-center">
          <img class="header-logo" src="https://i00.eu/file/474/825-facebook.png" alt="Zůstaňte s námi na facebooku">
          <span class="text">
            Zůstaňte s námi. Přidejte se k fanouškům na <span class="underline">Facebooku</span>
          </span>
        </a>
      </columns>
    </row>
  </container>
</wrapper>