<wrapper class="footer">
	<container class="footer-container">
		<spacer size="35"></spacer>
		<row>
			<columns large="12">
				<h2 class="text-center">Potrebujete pomoct?</h2>
			</columns>
		</row>
		<spacer size="25"></spacer>
		<row class="footer-contact">
			<columns large="6">
				<table class="contact-item">
					<tr>
						<th class="img">
							<img src="https://i00.eu/file/474/827-phone.png" alt="Volejte">
						</th>
						<th class="text">
							<span class="cap">Volejte Po - Čt: 8 - 16hod, Pá: 8 - 15hod</span>
							<span class="val">
								<a href="tel:+420 602 335 885">+420 602 335 885</a>
							</span>
						</th>
					</tr>
				</table>
			</columns>
			<columns large="6">
				<table class="contact-item">
					<tr>
						<th class="img">
							<img src="https://i00.eu/file/474/824-email.png" alt="Pište">
						</th>
						<th class="text">
							<span class="cap">nebo piště kdykoliv</span>
							<span class="val">
								<a href="mailto:info@krmiva-pucalka.cz">info@krmiva-pucalka.cz</a>
							</span>
						</th>
					</tr>
				</table>
			</columns>
		</row>
		<spacer size="35"></spacer>
		<p class="footer-text">
			Na tuto zprávu nemusíte odpovědět. Tyto informace můžete potřebovat v případě změny osobních údajů. Pro jistotu si tuto zprávu uložte a nemažte ji. V případě jakýchkoliv dotazů jsme Vám k dispozici na infolince
			<a href="tel:+420 602 335 885">+420 602 335 885</a> nebo na emailové adrese
			<a href="mailto:info@krmiva-pucalka.cz">info@krmiva-pucalka.cz</a>.
		</p>
	</container>
</wrapper>