<wrapper class="header">
  <container class="header-container">
		<p class="header-text">
			Nezobrazil se Vám email správně? <a href="#">Klikněte prosím zde >></a>
		</p>
    <row class="collapse">
      <columns small="12">
        <a href="https://www.amarago.cz/" class="text-center">
          <center>
            <img class="header-logo" src="https://i00.eu/file/474/826-logo.png" alt="krmiva-pucalka.cz">
          </center>
        </a>
      </columns>
    </row>
    <row class="collapse">
      <columns small="6">
        <a class="header-category dog" href="https://www.krmiva-pucalka.cz/chovatelske-potreby-pro-psy/">Vše pro psy</a>
      </columns>
      <columns small="6">
        <a class="header-category cat" href="https://www.krmiva-pucalka.cz/chovatelske-potreby-pro-kocky/">Vše pro kočky</a>
      </columns>
    </row>
  </container>
</wrapper>