<div class="product-box">
	<center>
		<span class="mask">
			<a href="{{{{raw}}}}{{zbozi.link}}{{{{/raw}}}}">
				<img src="{{{{raw}}}}{{zbozi.img.normal}}{{{{/raw}}}}" alt="{{{{raw}}}}{{zbozi.nazev}}{{{{/raw}}}}">
			</a>
		</span>
	</center>
	<spacer size="15"></spacer>
	<h3 class="text-center">
		{{{{raw}}}}{{zbozi.nazev}}{{{{/raw}}}}
	</h3>
	<span class="product-price text-center">{{{{raw}}}}{{zbozi.cena0|cena}}{{{{/raw}}}}</span>
	<spacer size="10"></spacer>
	<span class="buy-button text-center">
		<center>
			<button href="{{{{raw}}}}{{zbozi.link}}{{{{/raw}}}}" class="success">
				<span class="ico">
					<img src="https://i00.eu/file/474/823-basket-ico.png" alt="Koupit">
				</span>
				<span class="text">Koupit</span>
			</button>
		</center>
	</span>
</div>