<wrapper class="products-list">

  <spacer size="35"></spacer>

  <row>
    <columns large="12">
      <h2 class="text-center">Vybrali jsme pro vás to nejlepší</h2>
    </columns>
  </row>

  <spacer size="25"></spacer>

  <row class="products">


    {{#repeat 4}}
			<columns class="product" large="3">
				[produkt sem]
			</columns>
    {{/repeat}}

  </row>

	<spacer size="35"></spacer>

	<row class="products">

		{{#repeat 4}}
			<columns class="product" large="3">
				[produkt sem]
			</columns>
		{{/repeat}}

	</row>

	<spacer size="35"></spacer>

	<row class="products">

		{{#repeat 4}}
		<columns class="product" large="3">
			[produkt sem]
		</columns>
		{{/repeat}}

	</row>
  
  <spacer size="35"></spacer>

  <center>
    <button href="https://www.krmiva-pucalka.cz/" class="primary">Všechny produkty</button>
  </center>

  <spacer size="35"></spacer>

</wrapper>