<wrapper class="usp-list">
  <spacer size="35"></spacer>

  <row>
    <columns large="12">
      <h2 class="text-center">Zde je pár věcí, které byste o nás měl/a vědět</h2>
    </columns>
  </row>

  <spacer size="25"></spacer>

  <row>
    <columns class="usp" large="6">
      <table class="item">
        <tr>
					<th class="img">
						<img src="https://i00.eu/file/474/828-exluzivni-znacky.png" alt="Exkluzivní značky">
					</th>
					<th class="text">
						<h3>Exkluzivní značky</h3>
					</th>
				</tr>
      </table>
    </columns>
    <columns class="usp" large="6">
      <table class="item">
        <tr>
					<th class="img">
						<img src="https://i00.eu/file/474/831-zbozi.png" alt="Zboží odesíláme ihned">
					</th>
					<th class="text">
						<h3>Zboží odesíláme ihned</h3>
					</th>
				</tr>
      </table>
    </columns>
  </row>

  <spacer size="25"></spacer>

  <row>
    <columns class="usp" large="6">
      <table class="item">
        <tr>
					<th class="img">
						<img src="https://i00.eu/file/474/830-prodejny.png" alt="Kamenné prodejny v Praze">
					</th>
					<th class="text">
						<h3>Kamenné prodejny v Praze</h3>
					</th>
				</tr>
      </table>
    </columns>
    <columns class="usp" large="6">
      <table class="item">
        <tr>
					<th class="img">
						<img src="https://i00.eu/file/474/829-krmiva.png" alt="Špičková krmiva">
					</th>
					<th class="text">
						<h3>Špičková krmiva</h3>
					</th>
				</tr>
      </table>
    </columns>
  </row>

  <spacer size="35"></spacer>

  <center>
    <button href="https://www.krmiva-pucalka.cz" class="primary">Vstoupit do e-shopu</button>
  </center>

  <spacer size="35"></spacer>

</wrapper>